<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<!--<a class="p-2" th:href="@{${@environment.getProperty('feign.url.kakao.login.prefix')} + '/oauth/authorize?client_id=' + ${@environment.getProperty('kakao.client-id')} + '&redirect_uri=http://localhost:8080/kakao-login&response_type=code'}">여기</a>>-->
<!--<img th:src="@{/images/kakao_login_medium_narrow.png}" style="height:60px"/>-->
<!--</a>-->
<div th:if="${member != null}">
    <ul>
        <li th:text="|인가코드 = ${member?.kakaoLoginResponse?.accessToken}|">accessToken</li>
        <li th:text="|액세스 토큰과 ID 토큰의 만료 시간(초) = ${member?.kakaoLoginResponse?.expiresIn}|">code</li>
        <li th:text="|리프레시 토큰 값 = ${member?.kakaoLoginResponse?.refreshToken}|">refreshToken</li>
        <li th:text="|리프레시 토큰 만료 시간(초) = ${member?.kakaoLoginResponse?.refreshTokenExpiresIn}|">refreshTokenExpiresIn
        </li>
        <li th:text="|사용자 닉네임 = ${member?.kakaoUserInfo?.properties?.nickname}|">nickname</li>
    </ul>
    <a th:href="@{'http://localhost:8080/kakao-logout?accessToken=' + ${member?.kakaoLoginResponse?.accessToken}}">로그아웃</a>

</div>
<div th:unless="${member != null}">
    <a class="p-2"
       th:href="@{${@environment.getProperty('feign.url.kakao.login.prefix')} + '/oauth/authorize?client_id=' + ${@environment.getProperty('kakao.client-id')} + '&redirect_uri=http://localhost:8080/kakao-login&response_type=code'}">
        <img th:src="@{/images/kakao_login_medium_narrow.png}" style="height:60px"/>
    </a>
</div>

<script th:inline="javascript">
    // const kakaoLoginResponse = /*[[${member?.kakaoLoginResponse}]]*/ '';
</script>
</body>
</html>